<% provide :title, "About" %>
<h1><%= t ".name" %></h1>
<p>
  <%= t ".the" %><a href="http://www.railstutorial.org/"><em><%= t ".ru" %></em></a> <%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".sc" %></a>
  <%= t ".to" %>
  <a href="http://rubyonrails.org/"><%= t ".rb" %></a>.
  <%= t ".this" %>s
</p>
