<% provide :title, "About" %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t ".r" %></em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/"><%= t ".sc" %></a>
  <%= t ".to" %>
  <a href="http://rubyonrails.org/"><%= t ".rb" %></a>.
  <%= t ".th" %>
</p>

