<% provide :title, "Help" %>
<h1><%= t ".name" %></h1>
<p>
  <%= t ".p1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".href1" %></a>.
  <%= t ".p2" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".href2" %></em> <%= t ".book" %></a>.
</p>

